body {
  background: #171823;
}
.background {
  background: url("/img/dark-bg.jpg") center center/cover no-repeat;
}
.select {
  background: #25273D;
}
.input-task {
  color: #C8CBE7;
  background: #25273D;
}
.input-task::placeholder {
  color: #767992;
}
.tasks {
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}
.task {
  background: #25273D;
  border-bottom: 1px solid #393A4B;
}
.task-text {
  color: #C8CBE7;
}
.fake, .fake-input {
  background: #25273D;
  border: 2px solid #393A4B;
}

.fake:hover, .fake-input:hover {
  background-image: linear-gradient(#25273D, #25273D), linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}
.cross::before,
.cross::after {
	background: #5B5E7E;
}
.checkbox:checked ~ .task-text {
  color: #4D5067;
}
.task-footer {
  background: #25273D;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}
.task-count {
  color: #5B5E7E;
}
.filter-btn {
  color: #5B5E7E;
}
.filter-btn:hover {
  color: #E3E4F1;
}
.filter-btn_active {
  color: #3A7CFD;
}
.task-clear {
  color: #5B5E7E;
}

.subtitle {
  color: #5B5E7E;
}

@media (max-width: 575px) {
  .footer-mobile {
    background: #25273D;
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  }
  .filter-btn:hover {
    color: #3A7CFD;
  }
}
.theme-link[data-theme="dark"] {
  display: none;
}
.theme-link[data-theme="light"] {
  display: block;
}